/*@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700);*/

body {
	height: 100%;

}

.prof {
  float: right;
  max-width: 20%;
  border-radius: 5px;
  margin-top: 20px;
}

.jumbotron {
  margin-top: 15px;
}

.social {
  font-size: 200%;
}

.container {
  max-width: 980px;
}

.approach {
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .container {
  margin: 5px 5px;
  }
}


@media screen and (max-width: 560px) {
  .prof {
    display: none;
  }
  .jumbotron {
    text-align: center;
  }
}