body {
     font-family: 'Open Sans', sans-serif;
     height: 100%;
}
.container {
	max-width: 960px;
	margin: 0 auto;
}

header {
	display: block;
    background-color: #555;
    padding: 15px 0;
    margin-bottom: 30px;
    overflow: hidden;
}
header h1, header h3 {
	display: inline-block;
	padding-right: 10px;
	margin: 0;
}
header h1 {
	color: #FFF;
}
header h3 {
	color: #cdcdcd;
}


.media-object {
	height: 80px;
}

footer {
	overflow: hidden;
	color: #DDD;
	font-size: .75em;
	margin: 15px 0;
}

footer ul {
	padding: 0;
	margin: 0;
	margin-right: 10px;
	float: right;
	display: inline-block;

} footer ul li {
	list-style: none;
	display: inline-block;
	padding: 0 5px;
	color: #DDD;
}
footer p {
	float: right;
	display: inline-block;
	margin: 0;
	padding: 0;
}

